<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Educación</title>
</head>

<body>
    <header>

        <svg width="200px" height="100px" viewbox="0 0 300px 300px">

            <image xlink:href="../recursos/image/Logo.svg" x="0" y="0" height="100px" />

        </svg>
        <h1>Curriculum Vitae</h1>

    </header>
    <fieldset>

        <legend>
            <h2>Datos Personales</h2>
        </legend>
        <h3> Nombre: Edwin Daniel Barahona Lopez</h3>
        <h3> Fecha y Lugar de nacimiento: 04/06/1990 Tegucigalpa Honduras</h3>



    </fieldset>

    <nav>

        <a href="../index.html">Inicio |</a>
        <a href="../views/educacion.html">Educación |</a>
        <a href="../views/experiencia.html"> Experiencia </a>

    </nav>

    <fieldset>

        <h2>Educación</h2>

        <table border="1" width=500px>

            <thead>
                <tr>
                    <th>Año</th>
                    <th>Institución</th>
                    <th>Lugar</th>
                    <th>¿Culmino?</th>
                </tr>

            </thead>

            <tbody>

                <tr>
                    <td align="center">2007</td>
                    <td>Instituto Valencia</td>
                    <td>Tegucigalpa</td>
                    <td align="center">Si</td>

                </tr>

                <tr>
                    <td align="center">2015</td>
                    <td>Universidad Tecnologica de Honduras</td>
                    <td>Tegucigalpa</td>
                    <td align="center">Si</td>

                </tr>

            </tbody>


        </table>

    </fieldset>
    <fieldset>

        <legend>
            <h2>Agregar Estudios</h2>
        </legend>

        <form>
            <p>
                <label for="anio"><strong>Año</strong></label>

                <select name="recomendado" id="anio">

                    <option value="">2019</option>
                    <option value="">2018</option>
                    <option value="">2017</option>
                    <option value="">2016</option>
                    <option value="">2015</option>
                    <option value="">2014</option>
                    <option value="">2013</option>
                    <option value="">2012</option>
                    <option value="">2011</option>
                    <option value="">2010</option>
                    <option value="">2009</option>
                    <option value="">2008</option>
                    <option value="">2007</option>
                    <option value="">2006</option>
                    <option value="">2005</option>
                    <option value="">2004</option>
                    <option value="">2003</option>
                    <option value="">2002</option>
                    <option value="">2001</option>
                    <option value="">2000</option>



                </select>

            </p>

            <p>
                <label for="institucion"><strong>Institución</strong></label>
                <input type="text" id="institucion" required>
            </p>

            <p>
                <label for="Lugar"><strong>Lugar</strong></label>

            </p>

            <textarea id="Lugar" rows="8" cols="32">
                            </textarea>



            <p>
                <Label for="culmino"> <strong>¿Culmino?</strong> </Label>
            </p>

            <p>
                <input type="radio" name="culmino" id="culmino" value="si">Si<br>
                <input type="radio" name="culmino" id="culmino" value="no">No



            </p>




            <p>

                <input type="submit" value="Enviar">
            </p>
        </form>




    </fieldset>


    <footer>

       <p> correo: ed_barah@hotmail.com | Telefono: +504 3394-1386</p>

        <p>
            <a href="https://www.facebook.com/edwin.barahona.547/" target="_blank">
                <img src="../recursos/image/LogoFB.png" width="40px">

            </a>

            <a href="https://www.linkedin.com/in/edwin-lopez-15250675/" target="_blank">
                <img src="../recursos/image/LogoIn.png" width="40px">
            </a>

        </p>




    </footer>



</body>

</html>