<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Experiencia</title>
</head>

<body>

    <header>

        <svg width="200px" height="100px" viewbox="0 0 300px 300px">

            <image xlink:href="../recursos/image/Logo.svg" x="0" y="0" height="100px" />

        </svg>
        <h1>Curriculum Vitae</h1>

    </header>
    <fieldset>

        <legend>
            <h2>Datos Personales</h2>
        </legend>

        <h3> Nombre: Edwin Daniel Barahona Lopez</h3>
        <h3> Fecha y Lugar de nacimiento: 04/06/1990 Tegucigalpa Honduras</h3>



    </fieldset>

    <nav>

        <a href="../index.html">Inicio |</a>
        <a href="../views/educacion.html">Educación |</a>
        <a href="../views/experiencia.html"> Experiencia </a>

    </nav>




    <fieldset>
        <legend>
            <h2>Experiencia</h2>

        </legend>

        <h3>Video Presentacion</h3>

        <video controls poster="../recursos/image/FotoEdwin.PNG" width="400px" />

        <source src="../recursos/video/VPresentacion.mp4" type="video/mp4">
        <source src="../recursos/video/VPresentacion.webm" type="video/webm">

        Tu navegador no soporta el formato de este video

        </video>

        <h3>Audio de Hobbies y Actividades</h3>
        <p>
            <audio src="../recursos/audio/Ahobbies.mp3" controls></audio>
        </p>
    </fieldset>


</body>

<footer>

    correo: ed_barah@hotmail.com | Telefono: +504 3394-1386

    <p>
        <a href="https://www.facebook.com/edwin.barahona.547/" target="_blank">
            <img src="../recursos/image/LogoFB.png" width="40px">

        </a>

        <a href="https://www.linkedin.com/in/edwin-lopez-15250675/" target="_blank">
            <img src="../recursos/image/LogoIn.png" width="40px">
        </a>

    </p>




</footer>

</html>